body {
    
    background-color: blueviolet;
}
.wraper{
    display: flex;
    justify-content: center;
}
nav{
    padding: 20px 40px;
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    display:flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    
}
li{
    margin-right: 100px;
}
li:last-child{
    margin-left: 0px;
}
.nav-text{
    border-radius: 50px;
    background-color:black;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.logo-ul{
    padding: 0px;
}
.logo-div{
    width: 150px;
    height: 150px;
    background-color:black;
    border-radius: 100%;
}
.logo-nav{
    padding: 0px;
    height: 150px;
    width: 150px;
    transition: 2s;
}
.logo-nav:hover{
    transform: rotate(360deg);
}
a{
    display: block;
    font-size: 18pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color:whitesmoke;
    transition: 0.5s;
}
a:hover{
    font-size: 20pt;
    color:rgb(194, 129, 255);
}
img{
    padding: 10px;
    height: 500px;
}
.check-div{
    align-items: center;
    display: flex;
}
.checkbox{
 display: none;
}
.fake{
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 20%;
    border:1px solid white;
    margin-left: 30px;
    position: relative;
    background-color: rgb(82, 9, 93);
}
.fake::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background: url(img/check.png) ;
    opacity: 0;
    transition: 0.3s;
}
.checkbox:checked + .fake::before{
    opacity: 1;
}
